p{
	height: 100px;
	width: 200px;
	text-align: left;
	margin: 10px;
	padding: 10px;
	display: inline;
}
#dos{
	background-color: red;
		
}
#uno{
	background-color: yellow;

}
#tres{
	background-color: yellow;
}